.container {
    width: 100%;
    height: fit-content;
    max-height: 100%;
    overflow: auto;
    overflow-x: hidden;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

.table td {
    padding: 10px 16px;
    border-bottom: #656565 1px solid;   
}

.table tr {
    cursor: pointer;
}

.head {
    background: #22181C;
    color: #FFFFFF;
}

.head th {
    padding: 10px;
}

.row {
    background: #F2F2F2;
}