.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    height: 108px;
}

.title {
    font-weight: bold;
    font-size: 32px;
}

.search {
    display: flex;
    align-items: center;
    background: #F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 4px 14px;
}

.search input {
    border: none;
    background: none;
    outline: none;
    color: #22181C;
}