.background {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
}

.container {
    background: #F2F2F2;
    width: 60vw;
    height: fit-content;
    padding: 34px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 25vh;
    left: calc(50% - 30vw);
}

.top {
    display: flex;
    justify-content: space-between;
}

.top .btnContainer {
    display: flex;
    gap: 12px;
}

.btnContainer button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.title {
    font-size: 3.2rem;
}

.title p {
    font-weight: bold;
    display: inline;
}

.label {
    font-weight: bold;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 24px;
}

.notesContainer {
    display: flex;
    gap: 24px;
    justify-content: space-around;
}

.notesContainer div {
    width: 100%;
}

.notesContainer p {
    margin-top: 12px;
}


.notesContainer textarea {
    margin-top: 12px;
    width: 100%;
    height: 20vh;
    resize: none;
    border: none;
    outline: none;
    font-size: 1.6rem;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
}